.header {padding : 0 0 0px; }

.tnb{border-bottom : solid 1px #e6e6e6; padding : 25px 0 15px; background-color : #fff;}
.gnb{border-bottom : solid 1px #e6e6e6; width : 100%; padding : 10px 0 15px; background-color : #fff;}
.gnb .inner {display : flex; justify-content: space-between;}
.gnb .menu{margin : 3px 0 0 0; width : 100%;}
.gnb .menu ul{width:100%; display : flex; justify-content: space-between;}
.gnb .menu ul li{}
.gnb .menu ul li a{font-size : 17px; font-weight: bold; color : #222;}
.mnb{text-align: right; padding : 8px 0; text-align: right; border-bottom : solid 1px #e6e6e6;}
